<div class="wrapper">
    <div class="content"
         fxLayout="column"
         fxLayoutGap="1rem">
        <div fxLayout=row
             fxLayoutAlign="center center">
            <p class="tui-text_body-m gray">shop TECH GIÚP BẠN TIẾP CẬN NHỮNG SẢN PHẨM CÔNG NGHỆ</p>
        </div>
        <div fxLayout=row
             fxLayoutAlign="space-between center">
            <div>
                <div fxLayout="row"
                     fxLayoutAlign="none center">
                    <p class="tui-text_body-m">Điện thoại: iPhone, Samsung, Xiaomi, ...</p>
                </div>
                <div fxLayout="row"
                     fxLayoutAlign="none center">
                    <p class="tui-text_body-m">Laptop: Macbook, Asus, Lenovo ...</p>
                </div>
                <div fxLayout="row"
                     fxLayoutAlign="none center">
                    <p class="tui-text_body-m">Tablet: iPad ...</p>
                </div>
            </div>
            <div>
                <div fxLayout="row"
                     fxLayoutAlign="none center">
                    <tui-marker-icon size="s"
                                     mode="white"
                                     src="tuiIconGeoLarge"></tui-marker-icon>
                    <p class="tui-text_body-m">Khu II, Đ. 3/2, Xuân Khánh, Ninh Kiều, Cần Thơ</p>
                </div>
                <div fxLayout="row"
                     fxLayoutAlign="none center">
                    <tui-marker-icon size="s"
                                     mode="white"
                                     src="tuiIconMailLarge"></tui-marker-icon>
                    <p class="tui-text_body-m">ntrungnguyen845@gmail.com</p>
                </div>
                <div fxLayout="row"
                     fxLayoutAlign="none center">
                    <tui-marker-icon size="s"
                                     mode="white"
                                     src="tuiIconCallInLarge"></tui-marker-icon>
                    <p class="tui-text_body-m">0834 0509 06</p>
                </div>
            </div>
        </div>
        <div fxLayout=row
             fxLayoutAlign="center center">
            <p class="tui-text_body-m">shop TECH - All right reserved - Design & Developed by Nguyen Trung Nguyen
            </p>
        </div>
    </div>
</div>