<div class="wrapper">
    <div class="header"
         fxLayout="row"
         fxLayoutAlign="space-between">
        <p class="tui-text_h5"> Danh sách người dùng</p>
    </div>
    <div class="body"
         fxLayout="column"
         fxLayoutGap="3rem">
        <tui-loader [showLoader]="loading$ | async"
                    [inheritColor]="true"
                    [overlay]="true">
            <table tuiTable
                   style="width:100%; height: 100%"
                   *ngIf="(users$ | async) as orders;">
                <thead>
                    <tr>
                        <th tuiTh>STT</th>
                        <th tuiTh>
                            Họ và tên
                        </th>
                        <th tuiTh>
                            Email
                        </th>
                        <th tuiTh>
                            Trạng thái
                        </th>
                        <th tuiTh>
                            Quyền
                        </th>
                        <th tuiTh>
                            Ngày tạo
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of orders; let index = index"
                        #dropdown="tuiDropdown"
                        tuiDropdownContext
                        [tuiDropdown]="contextMenu">
                        <ng-template #contextMenu>
                            <tui-data-list role="menu"
                                           tuiDataListDropdownManager
                                           class="context-menu">
                                <button *ngFor="let menu of menuItems"
                                        tuiOption
                                        (click)="printToConsole(menu.title, item); dropdown.toggle(false)">
                                    {{ menu.title }}
                                    <tui-svg class="icon"
                                             [src]="menu.iconName"></tui-svg>
                                </button>
                            </tui-data-list>
                        </ng-template>
                        <td tuiTd>{{ index + 1 }}</td>
                        <td tuiTd>
                            {{item.fullName}}
                        </td>
                        <td tuiTd>
                            {{item.email}}
                        </td>
                        <td tuiTd>
                            <tui-tag *ngIf="item.enabled"
                                     status="custom"
                                     class="success"
                                     size="s"
                                     [hoverable]="true"
                                     value="Active"></tui-tag>
                            <tui-tag *ngIf="!item.enabled"
                                     size="s"
                                     value="Active"></tui-tag>
                        </td>
                        <td tuiTd>
                            <ng-container *ngFor="let role of item.roles">
                                <tui-tag status="custom"
                                         [class]="translateRole(role)"
                                         size="s"
                                         [hoverable]="true"
                                         [value]="translateRole(role)"></tui-tag>
                            </ng-container>
                        </td>
                        <td tuiTd>
                            {{ item.createdDate | date: 'M/d/yy, h:mm a' }}
                        </td>
                        <ng-template #tableBarTemplate
                                     let-close>
                            <div tuiMode="onDark"
                                 fxLayout="row"
                                 fxLayoutGap="2rem">
                                <p>Bạn có chắc rằng muốn xóa không ?</p>
                                <button tuiButton
                                        type="button"
                                        (click)="remove()"
                                        size="m">
                                    Đồng ý
                                </button>
                                <button tuiButton
                                        type="button"
                                        appearance="outline"
                                        (click)="close()"
                                        size="m">
                                    Hủy bỏ
                                </button>
                            </div>
                        </ng-template>
                    </tr>
                </tbody>
            </table>
        </tui-loader>
    </div>
</div>