<div class="wrapper">
    <div class="header"
         fxLayout="row"
         fxLayoutAlign="space-between">
        <div>
            <p class="tui-text_h5"> Chỉnh sửa sản phẩm</p>
        </div>
        <p class="tui-text_body-s"> Cập nhật lần cuối: {{ updatedAt | date: 'M/d/yy, h:mm a' }}</p>
    </div>
    <tui-loader [showLoader]="loading$ | async"
                [inheritColor]="true"
                [overlay]="true">
        <div class="body"
             *ngIf="productDetail$ |async as product"
             fxLayout="column">
            <div class="productForm"
                 fxFlex="50%">
                <form [formGroup]="editForm"
                      (submit)="update()">
                    <div class="tui-form__header tui-form__header_margin-top_none"
                         fxLayout="row"
                         fxLayoutGap="0.5rem">
                        <span class="active">*</span>
                        <p class="tui-text_body-l-2">Tên sản phẩm</p>
                    </div>
                    <div class="tui-form__row">
                        <tui-input formControlName="name"
                                   [tuiTextfieldLabelOutside]="true"
                                   [tuiTextfieldCleaner]="true"
                                   tuiTextfieldSize="m">
                            Nhập tên sản phẩm
                        </tui-input>
                        <tui-error formControlName="name"
                                   [error]="[] | tuiFieldError | async"></tui-error>
                    </div>
                    <div class="tui-form__header"
                         fxLayout="row"
                         fxLayoutGap="0.5rem">
                        <span class="active">*</span>
                        <p class="tui-text_body-l-2">Danh mục</p>
                    </div>
                    <div class="tui-form__row">
                        <tui-multi-select placeholder="Tìm kiếm..."
                                          *tuiLet="categories$ | async as categories"
                                          tuiTextfieldSize="m"
                                          formControlName="categories"
                                          [tuiTextfieldCleaner]="true"
                                          [expandable]="false"
                                          [stringify]="stringify"
                                          [tuiTextfieldLabelOutside]="true">
                            Chọn danh mục (có thể chọn một hoặc nhiều)
                            <tui-data-list-wrapper *tuiDataList
                                                   [items]="categories | tuiFilterByInputWith: stringify | tuiHideSelected"
                                                   [itemContent]="categoryContent"
                                                   tuiMultiSelectGroup>
                            </tui-data-list-wrapper>
                        </tui-multi-select>
                        <ng-template #categoryContent
                                     let-item>
                            <div fxLayout="row"
                                 fxLayoutAlign="center center"
                                 fxLayoutGap="1rem">
                                <img class="icon"
                                     [src]="item.image?.url" />
                                <p> {{item.name}}</p>
                            </div>
                        </ng-template>
                    </div>
                    <div class="tui-form__header"
                         fxLayout="row"
                         fxLayoutGap="0.5rem">
                        <span class="active">*</span>
                        <p class="tui-text_body-l-2">Màu sắc</p>
                    </div>
                    <div class="tui-form__row">
                        <tui-multi-select placeholder="Tìm kiếm..."
                                          *tuiLet="colors$ | async as items"
                                          tuiTextfieldSize="m"
                                          formControlName="colors"
                                          [tuiTextfieldCleaner]="true"
                                          [stringify]="stringify"
                                          [tuiTextfieldLabelOutside]="true">
                            Chọn màu sắc (có thể chọn một hoặc nhiều)
                            <tui-data-list-wrapper *tuiDataList
                                                   [items]="items | tuiFilterByInputWith: stringify | tuiHideSelected"
                                                   [itemContent]="colorContent"
                                                   tuiMultiSelectGroup>
                            </tui-data-list-wrapper>
                        </tui-multi-select>
                        <ng-template #colorContent
                                     let-item>
                            <div fxLayout="row"
                                 fxLayoutAlign="center center"
                                 fxLayoutGap="1rem">
                                <p> {{item.name}}</p>
                                <div class="circle"
                                     [style.background-color]="item.hex"></div>
                            </div>
                        </ng-template>
                    </div>
                    <div *ngFor="let control of colorForm.controls; let i = index">
                        <ng-container [formGroup]="getColorByIndex(i)">
                            <div class="tui-form__header"
                                 fxLayout="row"
                                 fxLayoutGap="1rem">
                                <tui-input formControlName="name"
                                           [readOnly]="true"
                                           fxFlex="10"
                                           [tuiTextfieldLabelOutside]="true"
                                           tuiTextfieldSize="m">
                                </tui-input>
                                <tui-input-number formControlName="price"
                                                  fxFlex="22.5"
                                                  (change)="calPayPriceColor(i)"
                                                  tuiTextfieldSize="m"
                                                  [postfix]="'đ' | tuiCurrency">
                                    Số tiền:
                                </tui-input-number>
                                <tui-input-number formControlName="payPrice"
                                                  fxFlex="22.5"
                                                  tuiTextfieldSize="m"
                                                  [postfix]="'đ' | tuiCurrency">
                                    Số tiền sau khi giảm:
                                </tui-input-number>
                                <tui-input-number formControlName="percent"
                                                  fxFlex="22.5"
                                                  [min]=0
                                                  [max]=100
                                                  (change)="calPayPriceColor(i)"
                                                  tuiTextfieldSize="m"
                                                  [postfix]="'%'">
                                    % giảm:
                                </tui-input-number>
                                <tui-input-count formControlName="stock"
                                                 fxFlex="22.5"
                                                 tuiTextfieldSize="m"
                                                 [min]=0
                                                 [max]="999999">
                                    Số lượng:
                                </tui-input-count>
                            </div>
                        </ng-container>
                    </div>
                    <div class="tui-form__header"
                         fxLayout="row"
                         fxLayoutGap="0.5rem">
                        <span class="active">*</span>
                        <p class="tui-text_body-l-2">Dung lượng</p>
                    </div>
                    <div class="tui-form__row">
                        <tui-multi-select placeholder="Tìm kiếm..."
                                          *tuiLet="capacities$ | async as items"
                                          tuiTextfieldSize="m"
                                          formControlName="capacities"
                                          [tuiTextfieldCleaner]="true"
                                          [stringify]="stringify"
                                          [tuiTextfieldLabelOutside]="true">
                            Chọn dung lượng (có thể chọn một hoặc nhiều)
                            <tui-data-list-wrapper *tuiDataList
                                                   [items]="items | tuiFilterByInputWith: stringify | tuiHideSelected"
                                                   [itemContent]="capacityContent"
                                                   tuiMultiSelectGroup>
                            </tui-data-list-wrapper>
                        </tui-multi-select>
                        <ng-template #capacityContent
                                     let-item>
                            <div fxLayout="row"
                                 fxLayoutAlign="center center"
                                 fxLayoutGap="1rem">
                                <p> {{item.name}}</p>
                            </div>
                        </ng-template>
                    </div>
                    <div *ngFor="let control of capacityForm.controls; let i = index">
                        <ng-container [formGroup]="getCapacityByIndex(i)">
                            <div class="tui-form__header"
                                 fxLayout="row"
                                 fxLayoutGap="1rem">
                                <tui-input formControlName="name"
                                           [readOnly]="true"
                                           fxFlex="10"
                                           [tuiTextfieldLabelOutside]="true"
                                           tuiTextfieldSize="m">
                                </tui-input>
                                <tui-input-number formControlName="price"
                                                  fxFlex="22.5"
                                                  (change)="calPayPriceCapacity(i)"
                                                  tuiTextfieldSize="m"
                                                  [postfix]="'đ' | tuiCurrency">
                                    Số tiền:
                                </tui-input-number>
                                <tui-input-number formControlName="payPrice"
                                                  fxFlex="22.5"
                                                  tuiTextfieldSize="m"
                                                  [postfix]="'đ' | tuiCurrency">
                                    Số tiền sau khi giảm:
                                </tui-input-number>
                                <tui-input-number formControlName="percent"
                                                  fxFlex="22.5"
                                                  [min]=0
                                                  [max]=100
                                                  (change)="calPayPriceCapacity(i)"
                                                  tuiTextfieldSize="m"
                                                  [postfix]="'%'">
                                    % giảm:
                                </tui-input-number>
                                <tui-input-count formControlName="stock"
                                                 fxFlex="22.5"
                                                 tuiTextfieldSize="m"
                                                 [min]=0
                                                 [max]="999999">
                                    Số lượng:
                                </tui-input-count>
                            </div>
                        </ng-container>
                    </div>
                    <div class="tui-form__header"
                         fxLayout="row"
                         fxLayoutGap="0.5rem">
                        <span class="active">*</span>
                        <p class="tui-text_body-l-2">Trạng thái</p>
                    </div>
                    <div class="tui-form__row">
                        <tui-toggle formControlName="status"
                                    size="l"
                                    [showIcons]="true"></tui-toggle>
                    </div>
                    <div class="tui-form__header"
                         fxLayout="row"
                         fxLayoutGap="0.5rem">
                        <span class="active">*</span>
                        <p class="tui-text_body-l-2">Nổi bật: </p>
                    </div>
                    <div class="tui-form__row">
                        <tui-toggle formControlName="isTrend"
                                    size="l"
                                    [showIcons]="true"></tui-toggle>
                    </div>
                    <div class="tui-form__header"
                         fxLayout="row"
                         fxLayoutGap="0.5rem">
                        <span class="active">*</span>
                        <p class="tui-text_body-l-2">Hàng mới về: </p>
                    </div>
                    <div class="tui-form__row">
                        <tui-toggle formControlName="isNew"
                                    size="l"
                                    [showIcons]="true"></tui-toggle>
                    </div>
                    <div class="tui-form__header"
                         fxLayout="row"
                         fxLayoutGap="0.5rem">
                        <span class="active">*</span>
                        <p class="tui-text_body-l-2">Hình ảnh</p>
                    </div>
                    <div class="tui-form__row">
                        <tui-input-files accept="image/*"
                                         [multiple]="true"
                                         formControlName="images"
                                         (reject)="onRejectImages($event)"></tui-input-files>
                        <tui-files class="tui-space_top-1">
                            <tui-file *ngFor="let file of editForm.value.images"
                                      [file]="file"
                                      (removed)="removeFile(file)"></tui-file>
                            <tui-file *ngFor="let file of rejectedImages"
                                      state="error"
                                      [file]="file"
                                      (removed)="clearRejectedImages(file)"></tui-file>
                        </tui-files>
                    </div>
                    <div style=" margin-top: 2rem;"
                         class="image-preview">
                        <div fxLayout="column"
                             fxLayoutAlign="center center"
                             fxLayoutGap="5rem">
                            <div tuiCarouselButtons
                                 *ngIf="listUrlImage.length > 0"
                                 fxLayout="row"
                                 fxLayoutAlign="center center">
                                <button tuiIconButton
                                        appearance="whiteblock"
                                        icon="tuiIconChevronLeftLarge"
                                        title="Previous"
                                        (click)="carousel.prev()"></button>
                                <tui-carousel [(index)]="index"
                                              [duration]="4000"
                                              style="width: 100%;height: 100%;"
                                              fxLayout="row"
                                              fxLayoutAlign="center center"
                                              #carousel>
                                    <ng-container *ngFor="let item of listUrlImage;let i = index;">
                                        <img *tuiItem
                                             (click)="showPreview(i)"
                                             class="image"
                                             [alt]="item.name"
                                             [src]="item.url" />
                                    </ng-container>
                                </tui-carousel>
                                <button tuiIconButton
                                        appearance="whiteblock"
                                        icon="tuiIconChevronRightLarge"
                                        title="Next"
                                        (click)="carousel.next()"></button>
                            </div>
                            <div tuiCarouselButtons
                                 *ngIf="listUrlImage.length > 0"
                                 fxLayout="row"
                                 fxLayoutAlign="center center">
                                <button tuiIconButton
                                        appearance="whiteblock"
                                        size="xs"
                                        icon="tuiIconChevronLeftLarge"
                                        title="Previous"
                                        (click)="carouselPagination.prev()"></button>
                                <tui-carousel [itemsCount]="5"
                                              #carouselPagination>
                                    <ng-container *ngFor="let item of listUrlImage;let i = index;">
                                        <img class="image"
                                             [class.active_image]="i === index"
                                             *tuiItem
                                             (click)="showInCarsouel(i)"
                                             [alt]="item.name"
                                             [src]="item.url" />
                                    </ng-container>
                                </tui-carousel>
                                <button tuiIconButton
                                        appearance="whiteblock"
                                        size="xs"
                                        icon="tuiIconChevronRightLarge"
                                        title="Next"
                                        (click)="carouselPagination.next()"></button>
                            </div>
                            <ng-template #preview
                                         let-preview>
                                <tui-preview [rotatable]="true">
                                    <tui-preview-title>{{ title$ | async }}</tui-preview-title>
                                    <tui-preview-pagination [length]="this.listUrlImage.length"
                                                            [index]="index$$.value"
                                                            (indexChange)="index$$.next($event)">
                                    </tui-preview-pagination>
                                    <img *ngIf="imageSrc$ | async as src"
                                         class="image"
                                         [src]="src" />
                                    <button tuiIconButton
                                            tuiPreviewAction
                                            icon="tuiIconCloseLarge"
                                            title="Close"
                                            (click)="preview.complete()"></button>
                                </tui-preview>
                            </ng-template>
                        </div>
                    </div>
                    <div class="tui-form__header"
                         fxLayout="row"
                         fxLayoutGap="0.5rem">
                        <span class="active">*</span>
                        <p class="tui-text_body-l-2">Ảnh đại diện</p>
                    </div>
                    <div class="tui-form__row">
                        <tui-input-files accept="image/*"
                                         *ngIf="!editForm.value.thumbnail"
                                         formControlName="thumbnail"
                                         (reject)="onRejectThumbnail($event)"
                                         tuiTextfieldSize="m"></tui-input-files>
                        <tui-files class="tui-space_top-1">
                            <tui-file *ngIf="editForm.value.thumbnail as file"
                                      [file]="file"
                                      (removed)="removeThumbnail()">
                            </tui-file>
                            <tui-file *ngIf="rejectedThumbnail$ | async as file"
                                      state="error"
                                      [file]="file"
                                      (removed)="clearRejectedThumbnail()"></tui-file>
                        </tui-files>
                    </div>
                    <div class="thumbnail-preview"
                         style="margin-top:2rem;">
                        <img class="image"
                             [src]="urlThumbnailPreview" />
                    </div>
                    <div class="tui-form__buttons tui-form__buttons_align_end">
                        <button tuiButton
                                type="submit"
                                [disabled]="editForm.invalid || descriptionControl.invalid"
                                size="s">
                            Cập nhật
                        </button>
                    </div>
                </form>
            </div>
            <div class="description">
                <tui-editor class="editor"
                            exampleText="Type everything you want..."
                            [formControl]="descriptionControl">
                </tui-editor>
                <h4>HTML:</h4>
                <tui-editor-socket class="socket"
                                   (imagePreview)="previewSocket.showImage($event)"
                                   [content]="descriptionControl.value">
                    <app-image-preview-example #previewSocket>
                    </app-image-preview-example>
                </tui-editor-socket>
                <p>{{ descriptionControl.value }}</p>
            </div>
        </div>
    </tui-loader>
</div>