.wrapper {
	width: 100%;
	background-color: #ffffff;
	padding: 1rem 2rem;
}

.header {
	border-bottom: 1px solid #ededed;
	padding: 0 0 1rem 0;
}

.body {
	padding: 1rem 0 0 0;
}

.select-avatar {
	height: 25rem;
	border-left: 2px solid #ededed;
	overflow: hidden;
}

.select-avatar-responsive {
	margin-top: 2rem;
}
.progress-bar {
	width: 100%;
}
