<div class="wrapper">
    <div class="header">
        <p class="tui-text_h5"> Chỉnh sửa danh mục</p>
        <img [src]="testUrl" />
    </div>
    <tui-loader [showLoader]="loading$ | async"
                [inheritColor]="true"
                [overlay]="true">
        <div class="body">
            <form [formGroup]="editForm"
                  *ngIf="category$ |async as category"
                  (submit)="update()">
                <div class="tui-form__header tui-form__header_margin-top_none"
                     fxLayout="row"
                     fxLayoutGap="0.5rem">
                    <span class="active">*</span>
                    <p class="tui-text_body-l-2">Tên danh mục</p>
                </div>
                <div class="tui-form__row">
                    <tui-input formControlName="name"
                               [tuiTextfieldLabelOutside]="true"
                               [tuiTextfieldCleaner]="true"
                               tuiTextfieldSize="m">
                        Nhập tên danh mục
                    </tui-input>
                    <tui-error formControlName="name"
                               [error]="[] | tuiFieldError | async"></tui-error>
                </div>
                <div class="tui-form__header"
                     *ngIf="category.parent">
                    <p class="tui-text_body-l-2">Danh mục cha</p>
                </div>
                <div class="tui-form__row"
                     *ngIf="category.parent">
                    <tui-select formControlName="parent"
                                tuiDropdownDirection="bottom"
                                tuiTextfieldSize="m"
                                [tuiTextfieldLabelOutside]="true"
                                [valueContent]="itemContent">
                        Chọn danh mục cha
                        <tui-data-list-wrapper *tuiDataList
                                               [items]="parentCategories$ | async"
                                               [itemContent]="itemContent"></tui-data-list-wrapper>
                    </tui-select>
                    <ng-template #itemContent
                                 let-item>
                        <div fxLayout="row"
                             fxLayoutGap="1rem">
                            <img class="icon"
                                 [src]="item.image.url" />
                            <p> {{item.name}}</p>
                        </div>
                    </ng-template>
                </div>
                <div fxLayout="row"
                     class="tui-form__header"
                     fxLayoutGap="0.5rem">
                    <span class="active">*</span>
                    <p class="tui-text_body-l-2">Hình ảnh</p>
                </div>
                <div class="tui-form__row">
                    <tui-input-files accept="image/*"
                                     *ngIf="!editForm.value.file"
                                     formControlName="file"
                                     (reject)="onReject($event)"
                                     tuiTextfieldSize="m"></tui-input-files>
                    <tui-files class="tui-space_top-1">
                        <tui-file *ngIf="editForm.value.file as file"
                                  [file]="file"
                                  [leftContent]="content"
                                  (removed)="removeFile()">
                        </tui-file>
                        <tui-file *ngIf="rejectedFiles$ | async as file"
                                  state="error"
                                  [file]="file"
                                  (removed)="clearRejected()"></tui-file>
                    </tui-files>
                    <ng-template #content>
                        <img class="image-preview"
                             [src]="urlImagePreview" />
                    </ng-template>
                </div>
                <div fxLayout="row"
                     fxLayoutGap="1rem"
                     class="tui-form__buttons tui-form__buttons_align_end">
                    <button tuiButton
                            (click)="goBack()"
                            size="s">
                        Trở lại
                    </button>
                    <button type="submit"
                            [disabled]="editForm.invalid"
                            tuiButton
                            size="s">
                        Cập nhật
                    </button>
                </div>
            </form>
        </div>
    </tui-loader>
</div>